<div class="portfolio__container {{ entry.selfcontained ? "portfolio__container--selfcontained" }}">
    <div class="portfolio__wrapper {{ entry.selfcontained ? "portfolio__wrapper--selfcontained" }}">
        {% if not entry.selfcontained %}
            <div class="portfolio__title">{{ entry.title }}</div>
            <div class="portfolio__titleBorder"></div>
        {% endif %}
        {% include "_content/_includedContent/" ~ entry.slug ~ ".twig" with {
            noMobile: entry.noMobile,
            noMobileImage: entry.articleImage.one()
        } %}
    </div>
</div>
<section class="articleBody">
    {% include "_content/teaser.twig" %}
    {% include "components/articleUpdated.twig" %}
    {% include "_content/contentBlocks.twig" %}
</section>