.prefix2subnetting{   
    &__container{
        width: 100%;
        border-radius: 8px;
        background-color: #cccccc;
        margin-bottom: 20px;
    }
    
    &__answer{
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}