<footer>
    <div class="footer__wrapper">
        <p>Skarshaug Solutions © {{"now"|date("Y")}}</p>
        <p class="footer__content--credits">Icons by <a href="https://iconpharm.com/">InconPharm</a> </p>
    </div>
</footer>