<p>Andre versjoner av denne siden:</p>
<nav>
    <ul>
        {% set sites = craft.app.sites.allSites() %}
        {% for site in sites %}
            {% set querysites = craft.entries().siteId(site.id).all() %}
            {% for row in querysites %}
                {% if site.id != currentSite.id and row.id == entry.id %}
                    <li>
                        <a href="{{ row.getUrl() }}">{{site.name}} - {{row.title}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
</nav>