{% set certificates = block.certificates.all() %}

<div class="courseList__container">
    {% for certificate in certificates %}
        {% include "_content/_parts/_certificate.twig" %}
    {% endfor %}
</div>