<div class="chapter__wrapper">
    <div class="chapter__start">
        <h2 id="chapter-{{ chapter }}" class="chapter__headline" data-bookmark>{{ block.chapterHeadline }} </h2>
        {% if block.subtitle|length %}
            <p class="chapter__subtitle">{{ block.subtitle }}</p>
        {% endif %}

    </div>
</div>
