{% set chapter = chapter|default(null) %}
{% set chapterTaskNr = chapterTaskNr|default(null) %}
<div class="chapter__wrapper" id="ch_{{ chapter }}" data-chapter-target="{{ chapter }}">
    <div class="chapter__start">
        <h2 class="chapter__headline" data-bookmark>{{ block.chapterHeadline }} </h2>
        {% if block.subtitle|length or chapterTaskNr >= 0  %}
            <p class="chapter__subtitle">
                {% if chapterTaskNr >= 0 %}
                    <span class="chapter__progress--completed">0</span> / <span class="chapter__progress--total">0</span>: 
                {% endif %}
                {{ block.subtitle }}
            </p>
        {% endif %}
        {% if chapterTaskNr >= 0 %} {# Check if this article is a lesson #}
            <div class="chapter__progress--wrapper">
                <div class="chapter__progress--bar"></div>
            </div>
        {% endif %}
        

    </div>
</div>
