{% if block.threeNewest %}
    {% set courses = craft.entries.section("courses").orderBy("courseCompletedDate DESC").limit(3).all() %}
{% else %}
    {% set courses = block.courses.all() %}
{% endif %}

<div class="courseList__container">
    {% for course in courses %}
        {% include "_content/_parts/_course.twig" %}
    {% endfor %}

    {% if block.linkToAllCourses %}
        <a href="{{craft.entries().section('course').one().getUrl()}}" class="courseList__link">Oversikt over alle kurs jeg har fullført</a>
    {% endif %}
</div>