<div class="service2port__container">
    <div class="portfolioTask__fields">
        <div>
            <div class="portfolioTask__task">
                <pre id="service2port__address"></pre> 
                <pre id="service2port__hint" class="portfolioTask__hint"></pre>
            </div>
        </div>

        <div class="portfolioTask__answer">
            <input type="text" name="" id="service2port__input">
            <button id="service2port__checkbutton">Check!</button>
        </div>

        <div class="portfolioTask__feedback">
            <div class="portfolioTask__score">
                <span id="service2port__notications--score">0</span> / <span id="service2port__notications--attempts">0</span>
            </div>
            <div class="portfolioTask__score">
                Streak: <span id="service2port__notications--streak">0</span>
            </div>
        </div>
    </div>
</div>

<script src="/resources/portfolio/service2port/index.js?v=1.0.0"></script>