<div class="portfolio__container">
    <div class="portfolio__wrapper">
        {% include "_content/_includedContent/" ~ entry.slug ~ ".twig" with {
            noMobile: entry.noMobile,
            noMobileImage: entry.articleImage.one()
        } %}
    </div>
</div>
<section class="articleBody">
    {% include "_content/teaser.twig" %}
    {% include "_content/dateUpdated.twig" %}
    {% include "_content/contentBlocks.twig" %}
</section>