<section class="articleBody">
    <div class="article__header">
        {% include "components/articleImage.twig" with {
            entry: entry,
            showCategory: true
        } %}
    </div>
    {% include "_content/teaser.twig" %}
    {% include "_content/dateUpdated.twig" with {cachebust: craft.haxor.getScoreBoardUpdate } %}
    {% include "_content/contentBlocks.twig" with { 
        includedContentType: "thmScoreboard",
    } %}
</section> 