<div data-thm-vue>
    <table class="thmScoreboard__table">
        <thead>
            <tr>
                <th></th>
                <th>Username</th>
                <th></th>
                <th class="thmScoreboard__score">Points</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="score, index in scoreboard" :id="score.username">
                <th>[[index+1]]</th>
                <td>
                    <img :src="score.avatar" alt="$[[score.username]]s avatar" class="thmScoreboard__avatar"> 
                    <span><a :href="'https://tryhackme.com/p/' + score.username"  :class="{thmScoreboard__me: myAccount(score)}">[[ score.username ]]</a></span>
                </td>
                <td><span :class="'thmScoreboard__flag thmScoreboard__flag--' + score.country"></span></td>
                <td><span class="thmScoreboard__score">[[ score.points.toLocaleString() ]]</span></td>
                <td><a :href="'#' + score.username" class="thmScoreboard__userLink"></a></td>
            </tr>
        </tbody>
    </table>
</div>