<div class="article__published--wrapper">
    <div class="article__published--icon"></div>
    <span class="article__published--text"> Sist oppdatert {{entry.dateUpdated|date("j. F Y")}} </span>
</div>