.articleBody{
    position: relative;
    max-width: 1000px;
    margin: 20px auto;
    @include ipadOrSmaller{
        margin: 0px auto;
    }
}

.article__imageBorder{
    height: 498px;
    position: absolute;
    max-width: 1250px;
    width: 100%;
    border-bottom: 10px solid #e7e7e7;
    @include ipadOrSmaller {
        height: 200px;
        border-bottom: 4px solid #e7e7e7;
    }
}

.article__categoryIcon{
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
    opacity: 0.9;
    right: 10px;
    top: 10px;
}