.articleBody{
    position: relative;
    max-width: 1000px;
    margin: 145px auto 30px auto;
    @include ipadOrSmaller{
        margin: 125px auto 70px auto;
    }
}


.article{
    &__content{
        &--wrapper{
            max-width: 1250px;
            display: flex; 
            align-items: flex-start;
            justify-content: space-between;
            height: fit-content;
        }
        &--main{
            max-width: 720px;
            width: 100%;
        }
        &--sidebar{
            position: sticky;
            top: 50px;
            transition: 0.25s all;
            &.lesson{
                margin-left: 12px;
            }
            &.menuOpen{
                top: 175px;
            }
            @include ipadOrSmaller {
                display: none;
            }
            h3{
                font-family: 'Oswald', sans-serif;
                font-size: 22px;
                font-weight: 400;
                padding: 0 0 0 8px;
                margin: 0;
            }
            a{
                display: block;
                color: black;
                text-decoration: none;
                width: fit-content;
                padding: 3px 20px 3px 8px;
                &.active{
                    background-color: #2d2d2d;
                    color: white;
                    font-weight: 400;
                    border-radius: 5px;
                }
                &:hover{
                    text-shadow: 0 0 1px #000000;
                }
            }
        }
    }
    &__imageBorder{
        height: 498px;
        position: absolute;
        max-width: 1250px;
        width: 100%;
        border-bottom: 5px solid #e7e7e7;
        @include ipadOrSmaller {
            height: 199px;
            border-bottom: 4px solid #e7e7e7;
        }
    }
    &__categoryIcon{
        height: 50px;
        width: 50px;
        position: absolute;
        z-index: 1;
        background-color: white;
        border-radius: 50%;
        opacity: 0.9;
        right: 10px;
        top: 10px;
    }
    &__published{
        &--wrapper{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        &--icon{
            background-color: $color-green;
            border-radius: 50%;
            height: 11px;
            width: 11px;
            margin: auto 0;
        }
        &--text{
            margin-left: 9px;
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            color: #6C6C6C;
        }
    }
}