.bookList{    
    &__item{
        &--illustration{
            position: relative;
            width: fit-content;
            margin: 0 auto;
            &Wrapper{
                width: min-content;
            }
        }
        &--icon{
            z-index: 1;
            position: absolute;
            height: 50px;
            width: 50px;
            background-color: white;
            border: 2px solid #cccccc;
            border-radius: 50%;
            top: 0;
            left: 0;
            transform: translateX(-50%) translateY(-50%);
            background-image: $icon-book;
            //background-image: $icon-info;
            background-position: center 42%;
            background-size: 60%;
            background-repeat: no-repeat;
            @include phoneOnly {    
                height: 30px;
                width: 30px;
            }
        }
        &--categoryIcon{
            height: 30px;
            width: 30px;
            position: absolute;
            z-index: 1;
            background-color: white;
            border-radius: 50%;
            opacity: 0.9;
            right: 5px;
            top: 5px;
            //border: 2px solid #cccccc;
            @include phoneOnly {
                top: 11px;
            }

        }
        &--image{
            height: 190px;
            @include phoneOnly {  
                margin-top: 6px;
            }
        }
    }
}