.category{
    &__icon{
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
        height: inherit;
        &--linux{
            background-image: $icon-linux;
        }
        &--python{
            background-image: $icon-python;
        }
        &--arduino{
            background-image: $icon-arduino;
        }
        &--simulator{
            background-image: $icon-joystick;
        }
        &--nettverk{
            background-image: $icon-network;
        }
        &--web{
            background-image: $icon-web;
            background-size: 100%;
        }
        &--windows{
            background-image: $icon-windows;
            background-size: 60%;
        }
        &--barn{
            background-image: $icon-teddybear;
        }
        &--modifikasjon{
            background-image: $icon-screwdriver;
            background-size: 70%;
        }
        &--datamaskiner{
            background-image: $icon-computer;
            background-size: 70%;
        }
        &--thoughts{
            background-image: $icon-thoughts;
            background-size: 70%;
        }
        &--prosjektledelse{
            background-image: $icon-user-group;
            background-size: 70%;
        }
        &--security{
            background-image: $icon-lock;
            background-size: 69%;
            background-position-y: 3px;
        }
        &--sikkerhet{
            background-image: $icon-lock;
            background-size: 69%;
            background-position-y: 3px;
        }
        &--kjoling{
            background-image: $icon-cooling;
            background-size: 120%;
            background-position-y: -6px;
        }
    }
    &__color{
        &--linux{
            background-color: #ffa000;
        }
        &--python{
            background-color: #3b77aa;
        }
        &--arduino{
            background-color: #00979c;
        }
        &--simulator{
            background-color: #8f00c7;
        }
        &--nettverk{
            background-color: #e65e04;
        }
        &--web{
            background-color: #2196F3;
        }
        &--barn{
            background-color: #00a0b1;
        }
        &--modifikasjon{
            background-color: #4CAF50;
        }
        &--datamaskiner{
            background-color: #003196;
        }
        &--thoughts{
            background-color: #ca0000;
        }
    }
}