.contentBlocks{
    &__quote{
        margin: 0 auto;
        width: 860px;
        max-width: calc(100% - 100px);
        text-align: left;
        position: relative;
        padding: 0 40px 0 40px;
        border: none;
        background: transparent;
        font-weight: 600;
        font-style: italic;
        font-size: 26px;
        @include ipadOrSmaller {
            font-size: 18px;
            max-width: calc(100% - 50px);
            padding: 0 0 0 30px;
        }
        &::before{
            content: "\275D";
            position: absolute;
            left: -8px;
            top: -4px;
            color: #607D8B;
            font-size: 46px;
            line-height: 46px;
            font-weight: normal;
            font-style: italic;
        }
        &::after{
            content: "\275D";
            position: absolute;
            right: 8px;
            top: -4px;
            color: #607D8B;
            font-size: 46px;
            line-height: 46px;
            font-weight: normal;
            font-style: italic;
            @include ipadOrSmaller {
                display: none;

            }
        }
    }
    &__text{
        font-size: 18px;
        margin: 0 auto;
        max-width: 720px;
        @include ipadOrSmaller {
            margin: 0 10px;
            overflow-wrap: anywhere;
        }
        pre {
            background-color: #2d2d2d;
            font-family: monospace;
            font-size: 14px;
            padding: 10px;
            margin: 10px;
            color: #e7e7e7;
            border-radius: 5px;
            //transform: rotate(-0.5deg);
            border: 2px solid black;
            box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.35);
            overflow: auto;
        }
        a{
            color: #ffffff;
            font-weight: 400;
            text-shadow: 0 0 3px #000000;
            background-color: #989898;
            border-radius: 6px;
            padding: 0px 5px 4px;
            margin: 0 -3px;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__fileContent{
        &--wrapper{
            border: 2px solid black;
            border-radius: 5px;
            overflow: hidden;
            margin: 10px auto;
            max-width: 700px;
            @include ipadOrSmaller {
                margin: 10px;
            }
            pre[rel]:not([rel=""]):before {
                font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
                font-style: normal;
                font-weight: 500;
                font-size: 8px;
                content: attr(rel);
                position: absolute;
                top: 4px;
                right: 4px;
                color: #ccc !important;
            }
        }
        &--header{
            background-color: black;
            color: white;
            padding: 8px 8px 8px 16px;
        }
    
    }
    &__terminalDump{
        &--wrapper{
            border: 2px solid black;
            border-radius: 5px;
            overflow: hidden;
            margin: 10px auto;
            max-width: 700px;
            @include ipadOrSmaller {
                margin: 10px;
            }

        }
        &--header{
            background-color: black;
            color: white;
            padding: 8px 8px 8px 16px;
        }
    }
    &__image{
        &--wrapper{
            margin: 0 auto;
            width: fit-content;
            
        }
        &--figure{
            max-width: 100%;
            margin: 10px 0;
            max-height: 400px;
            box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.35);
            @include ipadOrSmaller {
                box-shadow: none;
            }
        }
        &--cropped{
            max-width: 100%;
            margin: 0;
        }
        &--caption{
            text-align: right;
            font-size: 12px;
            line-height: 12px;
            margin: 0px 4px 14px 4px;
            @include ipadOrSmaller {
                font-size: 10px;
            }
            &--figure{
                text-align: center;
                @include ipadOrSmaller {
                    text-align: right;
                }
            }
            p{
                margin: 0;
            }
            a{
                color: black;
                text-decoration: none;
            }
        }
    }
    &__tryhackme{
        width: fit-content;
        margin: 0 auto;
    }
    &__chart{
        margin-bottom: 36px;
    }
    &__task{
        &--wrapper{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            background-color: #cccccc;
            font-size: 16px;
            margin: 40px auto;
            max-width: 720px;
            padding-left: 20px;
            border-radius: 6px;
            border: 2px solid #cccccc;
            transition: border-color .15s ease-in-out;
            &.complete{
                border-color: $color-green;
                .lessonTask__icon{
                    border-color: $color-green;
                }
                .contentBlocks__task--button{
                    background-color: $color-green;
                    color: white;
                    cursor: initial;
                    
                    
                }
            }
            form{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: end;
                width: 100%;

                label{
                    padding-bottom: 6px;
                }
                
                input[type=text]{
                    padding: 10px;
                    border-radius: 6px;
                    border: 2px solid $color-green;
                    font-size: 18px;
                    width: 546px;
                }
            }
        }
        &--content{
            padding: 20px 0 0;
            margin: 5px 0;
            display: flex;
            flex-direction: column;
        }
        &--text{
            margin: auto 0;
        }

        &--button{
            position: relative;
            background-color: white;
            color: $color-success;
            border-radius: 6px;
            border: 2px solid $color-green;
            font-size: 18px;
            padding: 10px 20px;
            height: 100%;
            width: max-content;
            margin: 5px;
            transition: color .15s ease-in-out, background-color .15s;
            cursor: pointer;

            &.wrong{
                animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                transform: translate3d(0, 0, 0);
                cursor: initial;
                
                &:after{
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    height: 100%;
                    width: 100%;
                    content: "";
                    background-color: $color-red !important;
                    border-color: $color-red;
                    color: white;
                    border: 2px solid $color-red;
                    font-size: 18px;
                    border-radius: 6px;
                    margin: auto 0;
                }
            }
        }

    }

}