.contentBlocks{
    &__quote{
        margin: 0 auto;
        width: 860px;
        max-width: calc(100% - 100px);
        text-align: left;
        position: relative;
        padding: 0 40px 0 40px;
        border: none;
        background: transparent;
        font-weight: 600;
        font-style: italic;
        font-size: 26px;
        @include ipadOrSmaller {
            font-size: 18px;
            max-width: calc(100% - 50px);
            padding: 0 0 0 30px;
        }
        &::before{
            content: "\275D";
            position: absolute;
            left: -8px;
            top: -4px;
            color: #607D8B;
            font-size: 46px;
            line-height: 46px;
            font-weight: normal;
            font-style: italic;
        }
        &::after{
            content: "\275D";
            position: absolute;
            right: 8px;
            top: -4px;
            color: #607D8B;
            font-size: 46px;
            line-height: 46px;
            font-weight: normal;
            font-style: italic;
            @include ipadOrSmaller {
                display: none;

            }
        }
    }
    &__text{
        font-size: 18px;
        margin: 0 auto;
        max-width: 720px;
        @include ipadOrSmaller {
            margin: 0 10px;
        }
        pre {
            background-color: #2d2d2d;
            font-family: monospace;
            font-size: 14px;
            padding: 10px;
            margin: 10px;
            color: #e7e7e7;
            border-radius: 5px;
            //transform: rotate(-0.5deg);
            border: 2px solid black;
            box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.35);
            overflow: auto;
        }
    }
    &__fileContent{
        &--wrapper{
            border: 2px solid black;
            border-radius: 5px;
            overflow: hidden;
            margin: 10px auto;
            max-width: 700px;
            @include ipadOrSmaller {
                margin: 10px;
            }
            pre[rel]:not([rel=""]):before {
                font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
                font-style: normal;
                font-weight: 500;
                font-size: 8px;
                content: attr(rel);
                position: absolute;
                top: 4px;
                left: 4px;
                color: #ccc !important;
            }
        }
        &--header{
            background-color: black;
            color: white;
            padding: 8px 8px 8px 16px;
        }
    
    }
    &__terminalDump{
        &--wrapper{
            border: 2px solid black;
            border-radius: 5px;
            overflow: hidden;
            margin: 10px auto;
            max-width: 700px;
            @include ipadOrSmaller {
                margin: 10px;
            }

        }
        &--header{
            background-color: black;
            color: white;
            padding: 8px 8px 8px 16px;
        }
    }
    &__image{
        &--wrapper{
            margin: 0 auto;
            width: fit-content;
            
        }
        &--figure{
            max-width: 100vw;
            margin: 10px 0;
            max-height: 400px;
            box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.35);
            @include ipadOrSmaller {
                box-shadow: none;
            }
        }
        &--cropped{
            max-width: 100%;
            margin: 0;
        }
        &--caption{
            text-align: right;
            font-size: 12px;
            line-height: 12px;
            margin: 0px 2px;
            @include ipadOrSmaller {
                font-size: 10px;
            }
            &--figure{
                text-align: center;
                @include ipadOrSmaller {
                    text-align: right;
                }
            }
            p{
                margin: 0;
            }
            a{
                color: black;
                text-decoration: none;
            }
        }
    }

}