.ctfWriteup{
    &__image{
            height: 200px;
            width: 200px;
            border-radius: 50%;
            border: 6px solid white;
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translateX(-50%) translateY(-50%);
    }
}