.ctfWriteup{
    &__image{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: 6px solid white;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translateX(-50%) translateY(-50%);
        background-repeat: no-repeat;
        &--info{
            border-color: white;
        }
        &--veryeasy{
            border-color: $color-accent;
        }
        &--easy{
            border-color: $color-success;
        }
        &--medium{
            border-color: $color-warning;
        }
        &--hard{
            border-color: $color-danger;
        }
        &--insane{
            border-color: $color-insane;
        }
    }
    &__platform{
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translateX(-50%) translateY(-50%);
        height: 70px;
        width: 200px;
        background-repeat: no-repeat;
        background-position: center;

        &--thm{
            background-image: $icon-tryhackme-white;
        }
    }
}