.footer{
    &__wrapper{
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px;
        a{
            text-decoration: none;
            color: white;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__content{
        &--credits{
            font-size: 10px;
            line-height: 10px;
            margin: 0;
        }
    }
}