.infoBox{
    &__wrapper{
        margin: 30px auto;
        max-width: 720px;
        background-color: black;
        color: white;
        border-radius: 6px;
        padding: 1px 20px;
        transform: rotate(-0.5deg);
        box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.35);
        @include ipadOrSmaller {
            margin: 0 10px;
        }
        a{
            color: white;
        }
    }
}