.ingress{
    margin: 20px auto;
    font-size: 18px;
    font-weight: bold;
    transform: rotate(-0.9deg);
    padding-left: 6px;
    color: #202f2f;
    max-width: 1000px;
    background-color: #d0cdcd;
    border-radius: 8px;
    padding: 1px 10px 1px 20px;
    box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.35);
    width: fit-content;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    @include phoneOnly {
        margin: 10px 10px 10px 10px;
        padding: 5px 10px;
        text-align: center;
    }
    @include ipadOrSmaller {
        margin: 20px auto;
        padding: 5px 10px;
        text-align: center;
    }
}