.ingress{
    margin: 20px;
    font-size: 40px;
    font-weight: bold;
    transform: rotate(-0.9deg);
    padding-left: 6px;
    color: #202f2f;
    background-color: #d0cdcd;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
}