.lesson{
    &__progress{
        &--wrapper{
            width: 6px;
            height: 100%;
            border: 2px solid black;
            border-radius: 3px;
            position: absolute;
            top: 0;
            left: -12px;
            
        }
        &--bar{
            background-color: $color-green;
            height: 40%;
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }
}

.lessonTask{
    &__icon{
        position: absolute;
        height: 50px;
        width: 50px;
        background-color: white;
        border: 2px solid #cccccc;
        border-radius: 50%;
        top: 0;
        left: 0;
        transform: translateX(-50%) translateY(-50%);
        background-image: $icon-question;
        background-position: center;
        background-size: 60%;
        background-repeat: no-repeat;
        @include phoneOnly {    
            height: 30px;
            width: 30px;
        }
    }
}