header{
    position: relative;
}
.menu{
    &__wrapper{
        position: absolute;
        background-color: gray;
        right: 0;
        top: 125px;
        padding: 0px 20px;
        z-index: 9;

        max-height: 0;
        overflow: hidden;
        transition: 0.25s all;
        @include phoneOnly{
            width: 100vw;
        }
        &.is-active{
            border-bottom: 1px solid $color-hightlight;
            padding: 20px 20px;
        }
        li{
            display: inline-block;
        }
        a, span{
            display: block;
            color: white;
            text-decoration: none;
            font-weight: 400;
            font-size: 20px;
        }
    }
    &__language{
        height: 30px;
        width: 45px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
        &--no{
            background-image: $icon-flag-no;
        }
        &--en{
            background-image: $icon-flag-uk;
        }
        &--wrapper{
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: flex-end;
            }
            li:nth-child(2){
                margin-left: 10px;
            }
        }
    }
    &__content{
        &--wrapper{
            margin-top: 10px;
            text-align: right;
            ul{
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 10px 0 0 0;
            }
            li{
                margin-left: 0;

            }
        }
    }
}