.portfolio{
    &__container{
        margin: 135px auto -125px auto;
        width: fit-content;
        
        #gameScreen{
            border-radius: 3px;
            max-width: 100%;
        }
    }
}