.portfolio{
    &__container{
        margin: 135px auto -125px auto;
        width: fit-content;
        width: 100%;
        max-width: 1000px;
        
        #gameScreen{
            border-radius: 3px;
            max-width: 100%;
        }
    }
}