.thmScoreboard{
    &__filters{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        padding: 0 10px;
        margin-top: 18px;
        background-color: #cccccc;
        height: 50px;
    }
    &__filterCountry{
        display: flex;
        flex-direction: row;
        align-items: center;
        label{
            height: 24px;
        }
    }
    &__table{
        margin-top: 18px;
        width: 100%;
        border-collapse: collapse;
        @include ipadOrSmaller {
            margin: 0 10px;
            max-width: calc(100vw - 20px);
            font-size: 12px;
        }
        thead{
            th{
                text-align: left;
            }
        }
        tbody{
            tr{
                border-radius: 8px;
                padding-left: 10px;
                transition: background-color 0.25s;
                
                &:hover{
                    background-color: #cccccc;
                    .thmScoreboard__userLink{
                        opacity: 1;
                    }
                }
                &:target{
                    td,th{
                        background-color: #2d2d2d;
                        color: white;
                        a:hover{
                            text-shadow: 0 0 2px white;
                            color: white;
                        }
                        .thmScoreboard__userLink{
                            background-image: $icon-link-white;
                            &:hover{
                                background-color: transparent;
                                border-color: white;
                            }
                        }
                        .thmScoreboard__avatar{
                            border-color: white;
                        }
                    }
                }
                th{
                    font-weight: 600;
                    text-align: left;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    padding-left: 10px;
                    width: 10px;

                }
                td{
                    vertical-align: middle;
                    height: 40px;
                    padding: 2px;

                    
                    &:last-child{
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                    }
                    a{
                        text-decoration: none;
                        color: inherit;
                        &:hover{
                            text-shadow: 0 0 1px #000000;
                            color: black;
                        }
                    }
                }
            }
        }
    }

    &__avatar{
        height: 36px;
        width: 36px;
        object-fit: cover;
        background-color:  #212c42;
        border: 1px solid transparent;
        border-radius: 8px;
        margin: 4px 18px 4px 0;
        vertical-align: middle;
        @include ipadOrSmaller {
            margin: 4px 4px 4px 0;
        }
    }
    &__flag{
        height: 24px;
        width: 38px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: inline-block;
        &--no{
            background-image: $icon-flag-no;
        }
        &--se{
            background-image: $icon-flag-se;
        }
        &--dk{
            background-image: $icon-flag-dk;
        }
        &--fi{
            background-image: $icon-flag-fi;
        }
        &--is{
            background-image: $icon-flag-is;
        }
    }
    &__userLink{
        background-image: $icon-link;
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: center;
        background-color: none;
        width: 20px;
        height: 20px;
        display: block;
        text-align: right;
        float: right;
        margin-right: 10px;
        opacity: 0;
        transition: all 0.15s;
        padding: 2px;
        border-radius: 6px;
        border: 1px solid transparent;
        &:hover{
            border-color: black;
        }
    }
    &__score{
        white-space: nowrap;
        @include ipadOrSmaller {
            padding-left: 10px;
        }
    }
    &__me{
        position: relative;
        &:after{
            content: "";
            position: absolute;
            background-image: $icon-arrow-red;
            width: 35px;
            height: 26px;
            bottom: 20px;
            left: 43px;
            background-repeat: no-repeat;

            @include ipadOrSmaller {
                width: 35px;
                height: 26px;
                bottom: 14px;
                left: 5px;
            }
        }
        &::before{
            content: "This is me!";
            position: absolute;
            color: #ea5252;
            width: 200px;
            bottom: 35px;
            left: 78px;
            font-weight: 600;
            text-shadow: none;
            @include ipadOrSmaller {
                left: 42px;
                bottom: 31px;
            }

        }
    }
    &__loading{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100%;
        margin: 50px 0;

        &-spinner{
            height: 100px;
            width: 100px;
            animation: spin 1s linear infinite;
            background: url("/resources/svg/refresh.svg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}