.thmScoreboard{
    &__table{
        margin-top: 18px;
        width: 100%;
        border-collapse: collapse;
        thead{
            th{
                text-align: left;
            }
        }
        tbody{
            tr{
                border-radius: 8px;
                padding-left: 10px;
                transition: background-color 0.25s;
                
                &:hover{
                    background-color: #cccccc;
                    .thmScoreboard__userLink{
                        opacity: 1;
                    }
                }
                &:target{
                    td,th{
                        background-color: #2d2d2d;
                        color: white;
                        a:hover{
                            text-shadow: 0 0 2px white;
                            color: white;
                        }
                        .thmScoreboard__userLink{
                            background-image: $icon-link-white;
                            &:hover{
                                background-color: transparent;
                                border-color: white;
                            }
                        }
                        .thmScoreboard__avatar{
                            border-color: white;
                        }
                    }
                }
                th{
                    font-weight: 600;
                    text-align: left;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    padding-left: 10px;

                }
                td{
                    vertical-align: middle;
                    height: 40px;
                    padding: 2px;

                    
                    &:last-child{
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                    }
                    a{
                        text-decoration: none;
                        color: inherit;
                        &:hover{
                            text-shadow: 0 0 1px #000000;
                            color: black;
                        }
                    }
                }
            }
        }
    }

    &__avatar{
        height: 36px;
        width: 36px;
        
        object-fit: cover;
        background-color:  #212c42;
        border: 1px solid transparent;
        border-radius: 8px;
        margin: 4px 18px 4px 0;
        vertical-align: middle;
    }
    &__flag{
        height: 30px;
        width: 45px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: inline-block;
        &--no{
            background-image: $icon-flag-no;
        }
        &--se{
            background-image: $icon-flag-se;
        }
        &--dk{
            background-image: $icon-flag-dk;
        }
        &--fi{
            background-image: $icon-flag-fi;
        }
        &--is{
            background-image: $icon-flag-is;
        }
    }
    &__userLink{
        background-image: $icon-link;
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: center;
        background-color: none;
        width: 20px;
        height: 20px;
        display: block;
        text-align: right;
        float: right;
        margin-right: 10px;
        opacity: 0;
        transition: all 0.15s;
        padding: 2px;
        border-radius: 6px;
        border: 1px solid transparent;
        &:hover{
            border-color: black;
        }
    }
}