.articleTeaser{
    margin: 20px auto;
    font-size: 22px;
    font-weight: 400;
    padding-left: 6px;
    color: #202f2f;
    max-width: 1000px;
    background-color: #cccccc;
    border-radius: 8px;
    padding: 1px 10px 1px 20px;
    width: fit-content;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    
    @include ipadOrSmaller {
        margin: 10px;
        width: calc(100% - 40px);
        padding: 5px 10px;
        text-align: center;
    }
}