@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,700');

.articleList{
    &__header{
        text-align: center;
        font-family: Raleway;
        font-weight: 200;
        color: #34495e;
    }
    &__subtitle{
        text-align: center;
        font-family: Raleway;
        font-weight: 600;
        color: #34495e;
        margin-top: -22px;
    }
    &__container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        color: white;
        margin-bottom: 38px;
        max-width: 1000px;
        margin: 0 auto;
    }
    &__item{
        color: white;
        text-decoration: none;
        position: relative;
        float: left;
        overflow: hidden;
        margin: 10px 1%;
        min-width: 220px;
        max-width: 310px;
        width: 100%;
        background: #000000;
        text-align: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        &.entryLink{
            margin: 0;
        }

        &--image{
            max-width: 100%;
            vertical-align: top;
            height: 210px;
            background-position: center;
            background-size: cover;            
        }
        i{
            &.category__icon{
                position: absolute;
                top: 50%;
                left: 50%;
                border-radius: 50%;
                font-size: 34px;
                color: #000000;
                width: 60px;
                height: 60px;
                line-height: 60px;
                background-color: #ffffff;
            }

            &.flag__icon--flagNo{
                position: absolute;
                top: 72%;
                left: 50%;
                border-radius: 50%;
                background-image: $icon-flag-no;
                height: 22px;
                width: 22px;
                background-size: 35px 26px;
                background-position: -7px -3px;
                border: 1px solid white;
            }
        }
        a {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
        }
        * {
            //transition: all 0.35s ease-in-out;
            transition: all 0.25s ease-out;
            box-sizing: border-box;
        }

        i{
            &.entry__category {
                &--single{
                    transform: translate(-50%, 80%) scale(0.4);
                    transition: transform 300ms 0ms cubic-bezier(0.175, 0.885, 0.32, 1.175);
                }
                &--oneOfTwo{
                    transform: translate(calc(-50% - 15px), 89%);
                    transition: transform 300ms 0ms cubic-bezier(0.175, 0.885, 0.32, 1.175);
                }
                &--twoOfTwo{
                    transform: translate(calc(-50% + 15px), 80%) scale(0.4);
                    transition: transform 300ms 0ms cubic-bezier(0.175, 0.885, 0.32, 1.175);
                }
            }
        }

        &--progress{
            &-wrapper{
                position: absolute;
                bottom: 15px;
                left: 15px;
                height: calc(100% - 30px);
                width: 10px;
                border: 2px solid black;
                border-radius: 3px;
                background-color: $color-bg-content;
            }
            &-bar{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                transition: height 0.5s;
                background-color: $color-success;
            }
        }

        &:hover {
            @include desktopOnly{
                .articleList__item--image {
                    opacity: 0.3;
                    filter: grayscale(100%);
                }
                i.entry__category {
                    &--single{
                        transform: translate(-50%, -90%) scale(1);
                        transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.175);
                    }
                    &--oneOfTwo{

                        transform: translate(-170%, -455%);
                        transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.175) position 300ms cubic-bezier(0.175, 0.885, 0.32, 1.175);
                    }
                    &--twoOfTwo{

                        transform: translate(-50%, -90%) scale(1);
                        transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.175) position 300ms cubic-bezier(0.175, 0.885, 0.32, 1.175);
                    }
                }
                .articleList__item--teaser {
                    opacity: 1;
                }
            }
        }

        &--blue{
            background-color: $color-accent-dark;
            i {
                color: $color-accent-dark;
            }
        }
        &--red{
            background-color: $color-danger;
            i {
                color: $color-danger;
            }
        }
        &--green{
            background-color: $color-success;
            i {
                color:$color-success;
            }
        }
        &--headline {
            position: absolute;
            top: 8px;
            left: 50%;
            transform: translate(-50%, 0);
            font-weight: 700;
            font-family: Raleway;
            width: 200px;
            text-shadow: 0 0 3px #000000;
        }
        &--teaser {
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, 0);
            opacity: 0;
            font-weight: 300;
            font-family: Raleway;
            @include ipadOrSmaller {
                opacity: 1;
                top: 30%;
                background-color: rgba(0,0,0,0.5);
                padding: 5px;
                border-radius: 4px;
                width: 200px;
                text-shadow: 0 0 3px #000000;
            }
        }
    }
    &__filters-button{
        width: 100%;
        font-size: 16px;
        line-height: 20px;
        padding: 6px 10px;
        border: 2px solid black;
        background: black;
        border-radius: 3px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        margin: 12px auto 0 auto;
        border-bottom: none;
        color: white;
        &.active{
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    &__filters-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 24px;
        margin: 0 auto;
        max-height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
        &.active{
            max-height: fit-content;
            border: 2px solid black;
            border-top: none;
            width: calc(100% - 4px);
            padding-bottom: 18px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        @include desktopOnly {
            flex-direction: row;
            gap: 0;
            max-height: fit-content;
            
        }
    }
    &__filters{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 12px;
        margin-bottom: 20px;
        
        @include ipadOrSmaller{
            margin-top: 20px;
            margin-bottom: 0px;
            padding: 0 12px;
        }
    }
    &__search{
        display: flex;
        flex-direction: column;
        margin: 0 14px;
        @include ipadOrSmaller{
            margin-top: 134px;
        }
        
        &-form{
            display: flex;
            align-items: center;
            justify-content: center;
            
            input{
                width: 100%;
                font-size: 16px;
                line-height: 20px;
                padding: 6px 10px;
                border: 2px solid black;
                border-radius: 3px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
                
                &:focus-visible{
                    outline: none;
                }
            }
            button{
                font-size: 16px;
                line-height: 20px;
                padding: 6px 10px;
                border: 2px solid black;
                background-color: black;
                color: white;
                cursor: pointer;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
                &:focus-visible{
                    outline: none;
                }
            }
        }
    }
}