.article{
    &__wrapper{
        max-width: 1250px;
        display: flex; 
        align-items: flex-start;
        justify-content: space-between;
        height: fit-content;
    }
    &__content{
        max-width: 720px;
        width: 100%;
        @include ipadOrSmaller {
            max-width: unset;
        }
    }
    &__sidebar{
        position: sticky;
        top: 50px;
        transition: 0.25s all;
        &.lesson{
            margin-left: 12px;
        }
        &.menuOpen{
            top: 175px;
        }
        @include ipadOrSmaller {
            display: none;
        }
        h3{
            font-family: 'Oswald', sans-serif;
            font-size: 22px;
            font-weight: 400;
            padding: 0 0 0 8px;
            margin: 0;
        }
        a{
            display: block;
            color: black;
            text-decoration: none;
            width: fit-content;
            padding: 3px 20px 3px 8px;
            &.active{
                background-color: #2d2d2d;
                color: white;
                font-weight: 400;
                border-radius: 5px;
            }
            &:hover{
                text-shadow: 0 0 1px #000000;
            }
            p{
                margin: 0;
            }
        }
    }
    
    
}