.category{
    &__icon{
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
        height: inherit;
        &--linux{
            background-image: $icon-linux;
        }
        &--python{
            background-image: $icon-python;
        }
        &--arduino{
            background-image: $icon-arduino;
        }
        &--simulator{
            background-image: $icon-joystick;
        }
        &--networking{
            background-image: $icon-network;
        }
        &--web{
            background-image: $icon-web;
            background-size: 100%;
        }
        &--windows{
            background-image: $icon-windows;
            background-size: 60%;
        }
        &--kids{
            background-image: $icon-teddybear;
            background-position-y: 75%;
        }
        &--microbit{
            background-image: $icon-microbit;
        }
        &--mods{
            background-image: $icon-screwdriver;
            background-size: 70%;
        }
        &--computers{
            background-image: $icon-computer;
            background-size: 70%;
        }
        &--thoughts{
            background-image: $icon-thoughts;
            background-size: 70%;
        }
        &--prosjektledelse{
            background-image: $icon-user-group;
            background-size: 70%;
        }
        &--security{
            background-image: $icon-lock;
            background-size: 69%;
            background-position-y: 40%;
        }
        &--cooling{
            background-image: $icon-cooling;
            background-size: 120%;
            background-position-y: -6px;
        }
        &--php{
            background-image: $icon-php;
            background-size: 78%;
            background-position-y: 60%;
            background-position-x: 50%;
        }
        &--instrument{
            background-image: $icon-tone;
            background-size: 58%;
            background-position-y: 48%;
            background-position-x: 46%;
        }
        &--gaming{
            background-image: $icon-gamepad;
            background-size: 80%;
            background-position-y: 40%;
        }
        &--devops{
            background-image: $icon-devops;
            background-size: 90%;
            background-position-y: 50%;
        }
    }
    &__color{
        &--linux{
            background-color: #ffa000;
        }
        &--python{
            background-color: #3b77aa;
        }
        &--arduino{
            background-color: #00979c;
        }
        &--simulator{
            background-color: #8f00c7;
        }
        &--nettverk{
            background-color: #e65e04;
        }
        &--web{
            background-color: #2196F3;
        }
        &--barn{
            background-color: #00a0b1;
        }
        &--modifikasjon{
            background-color: #4CAF50;
        }
        &--datamaskiner{
            background-color: #003196;
        }
        &--thoughts{
            background-color: #ca0000;
        }
        &--microbit{
            background-color: #99c2f7;
        }
        &--php{
            background-color: #5459c5;
        }
    }
}