{% if block.threeNewest %}
    {% set courses = craft.entries.section("courses").orderBy("courseCompletedDate DESC").limit(3).all() %}
{% else %}
    {% set courses = block.courses.all() %}
{% endif %}

<div class="courseList__container">
    {% for course in courses %}
        {% include "components/parts/_course.twig" %}
    {% endfor %}

    {% if block.linkToAll %}
        <a href="{{craft.entries().section('course').one().getUrl()}}" class="courseList__link">
            {{ 'List of all courses I have reviewed'|t }}
        </a>
    {% endif %}
</div>