body{
    position: relative;
    background-color: rgb(231, 231, 231);
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;   
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    li:nth-child(2){
        margin-left: 10px;
    }
}
main{
    min-height: calc(100vh - 277px);
}