[v-cloak]{
    display: none !important;
}
.mobile{
    &--hidden {
        @include ipadOrSmaller {
            display: none !important;
        }
    }
}
.desktop {
    &--hidden {
        @include desktopOnly {
            display: none !important;
        }
    }
}