<!DOCTYPE html>
{% set cashebuster = "1.8.0" %}
<html>
    <head>

        {% set devMode = craft.app.config.general.devMode %}
        {% set livePreview = craft.app.request.isPreview %}
        {% if not devMode and not livePreview %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5WM4TRN');</script>
            <!-- End Google Tag Manager -->
        {% endif %}
        {% include "partials/_seo" %}
        {% include "partials/_favicon" %}
        <meta charset="UTF-8" name='viewport' content='initial-scale=1.0, maximum-scale=1.0, user-scalable=1' >
        <link rel="stylesheet" href="/resources/css/site.min.css?v={{ cashebuster }}">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
        <script data-ad-client="ca-pub-8036419881721643" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head >
    <body data-site-language="{{ currentSite.language }}">
        {% if not devMode and not livePreview %}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WM4TRN"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endif %}
        
        {% block header %}
            {% include "partials/_header" %}
        {% endblock header %}
        
        <main>
            {% block body %}
                
            {% endblock body %}
        </main>
        {% block footer %}
            {% include "partials/_footer" %}
        {% endblock footer %}
            
        <script src="/resources/js/site.min.js?v={{ cashebuster }}" async defer></script>
        <script src="/resources/js/prism.js?v={{ cashebuster }}"></script>
    </body>
</html>