<!DOCTYPE html>
{% set cashebuster = "1.0.3" %}
<html>
    <head>
        <title>{{entry.title}}</title>
        <meta charset="UTF-8" name='viewport' content='initial-scale=1.0, maximum-scale=1.0, user-scalable=1' >
        {% if currentSite.handle == "skarshaugsNoEbook" %}
            <link rel="stylesheet" href="/resources/css/kindle.min.css?v={{ cashebuster }}">
        {% else %}
            <link rel="stylesheet" href="/resources/css/site.min.css?v={{ cashebuster }}">
        {% endif %}
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    </head >
    <body>
        {% block header %}
            {% include "partials/_header" %}
        {% endblock header %}
        
        {% block body %}
              
        {% endblock body %}

        {% block footer %}
            {% include "partials/_footer" %}
        {% endblock footer %}
            
        <script src="/resources/js/site.min.js?v={{ cashebuster }}" async defer></script>
    </body>
</html>