<!DOCTYPE html>
{% set cashebuster = "1.0.0" %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Skarshaugs site of wounder</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="resources/css/site.min.css?v={{ cashebuster }}">
    </head>
    <body>

        <script src="resources/js/site.min.js?v={{ cashebuster }}" async defer></script>
    </body>
</html>