<section class="articleBody">
    <div class="article__header">
        {% include "components/articleImage.twig" with {
            entry: entry,
            showCategory: true
        } %}
    </div>

    {% include "_content/teaser.twig" %}
    {% include "_content/dateUpdated.twig" %}
    {% include "_content/contentBlocks.twig" with { 
        includedContentType: "ctfWriteups"
    } %}
</section> 