<section class="articleBody">
    {% include "components/articleBanner.twig" with {entry: entry} %}
    {% include "components/articleTeaser.twig" %}
    {% include "components/articleUpdated.twig" %}
    {% include "components/contentBlocks.twig" %}
</section>