<article class="articleBody"
    itemscope 
    itemtype="http://schema.org/Article" 
    author="{{ craft.users.one().fullName }}"
    datePublished="{{ entry.postDate|date('c') }}"
    dateModified="{{ entry.dateUpdated|date('c') }}"
    isFamilyFriendly="true">
    
    {% set courses = craft.entries.section("courses").orderBy("courseCompletedDate DESC").all() %}
    <h1 class="articleList__header">{{entry.title}}</h1>
    <div class="courseList__container">
        {% for course in courses %}
        {% include "components/parts/_course.twig" with {"chapter": 1} %}
        {% endfor %}
    </div>
</article>