<section class="articleBody">
    {% include "components/articleBanner.twig" with {
        entry: entry,
        showCategory: true
    } %}
    {% include "components/articleTeaser.twig" %}
    {% include "components/articleUpdated.twig" %}
    {% include "components/contentBlocks.twig" with { 
        includedContentType: "ctfWriteups"
    } %}
</section> 