<section class="articleBody">
    {% include "components/articleBanner.twig" with {
        entry: entry,
        showCategory: true,
        ctfWriteup: true
    } %}
    {% include "_content/teaser.twig" %}
    {% include "_content/dateUpdated.twig" %}
    {% include "_content/contentBlocks.twig" %}
</section> 