<section class="articleBody">
    <div class="articleList__search">
        {% if currentSite.handle == "default" %}
            {% set serchUrl = "/" %}
        {% else %}
            {% set serchUrl = "/en" %}
        {% endif %}
        
        <form>
            <input type="search" name="q" aria-label="Søk" placeholder="{{ 'Search'|t }}" value="{{ craft.app.request.getParam('q')|length ? craft.app.request.getParam('q') }}">
            <button type="submit">Go</button>
        </form>
    </div>

    <div data-frontpage-filter-vue>
        <section v-if="!loaded">
            <div class="thmScoreboard__loading">
                <div class="thmScoreboard__loading-spinner"></div>
            </div>
        </section>
        
        <section v-else>
            <div class="articleList__container" v-if="articles">
                <article-item v-for="article in articles" :key="article.id" :article="article" />
            </div>
        </section>
    </div>
</section>
