<section class="articleBody" data-frontpage-filter-vue>
    <div class="articleList__search">
        <div class="articleList__search-form">
            <input type="search" aria-label="search" placeholder="{{ 'Search'|t }}" v-model="searchQuery"/>
        </div>
        <button @click="showFilters = !showFilters" 
            class="articleList__filters-button desktop--hidden"
            :class="showFilters ? 'active' : ''"
        >[[ showFilters ? 'Hide' : 'Show' ]] filters</button>
        <div class="articleList__filters-wrapper" 
            :class="showFilters ? 'active' : ''">
            <div class="articleList__filters">
                <article-filter v-for="subject in articleSubjects" :key="subject" 
                    :name="subject"
                    :subject="subject"
                    :selected="selectedSubjects.includes(subject)"
                    @change="updateSubjectFilters"
                ></article-filter>
            </div>
            <div class="articleList__filters">
                <article-filter v-for="language in articleLanguages" :key="language" 
                    :name="language"
                    :language="language"
                    :selected="selectedLanguages.includes(language)"
                    @change="updateLanguageFilters"
                ></article-filter>
            </div>
        </div>
    </div>

    <div >
        <section v-if="!loaded">
            <div class="thmScoreboard__loading">
                <div class="thmScoreboard__loading-spinner"></div>
            </div>
        </section>
        
        <section>
            <div class="articleList__container" v-if="articles">
                <article-item v-for="article in filteredArticles" :key="article.id" :article="article" />
            </div>
        </section>
    </div>
</section>
