<section class="articleBody" data-frontpage-filter-vue>
    <div class="articleList__search">
        <div class="articleList__search-form">
            <input type="search" name="q" aria-label="Søk" placeholder="{{ 'Search'|t }}" value="{{ craft.app.request.getParam('q')|length ? craft.app.request.getParam('q') }}">
            <button>Go</button>
        </div>
    </div>

    <div >
        <section v-if="!loaded">
            <div class="thmScoreboard__loading">
                <div class="thmScoreboard__loading-spinner"></div>
            </div>
        </section>
        
        <section>
            <div class="articleList__container" v-if="articles">
                <article-item v-for="article in articles" :key="article.id" :article="article" />
            </div>
        </section>
    </div>
</section>
